body > .app-container {
  /** Body font **/
  /* Selected values */
  --typo-body-font: "Source Serif Pro";
  --typo-body-weight: 400;
  --typo-body-line: 26px; /* fallback line height, as <px> */

  /* Measured values */
  --ch-correction: 1;

  /* Dimensioned as <number> */
  --int-em:   17;
  --int-ex:    8;
  --int-base: -5; /* from middle-em to baseline */
  --int-cap:  11;

  /* Dimensioned as <px> */
  --typo-body-em:   calc(1px * var(--int-em));
  --typo-body-ex:   calc(1px * var(--int-ex));
  --typo-body-base: calc(1px * var(--int-base));
  --typo-body-cap:  calc(1px * var(--int-cap));

  --typo-body-ascent:     14px;
  --typo-body-ascender:   12px;
  --typo-body-descent:     6px;
  --typo-body-descender: 5.5px;

  /* Derived values */
  --typo-body-mean:
    calc(var(--typo-body-base) + var(--typo-body-ex));
  --typo-body-ascender-offset:
    calc(var(--typo-body-ascender) - var(--typo-body-ex));
  --typo-body-asc-desc-ratio:
    calc(var(--typo-ascender-offset) / var(--typo-descender));
  --typo-body-em-line-ratio:
    calc(var(--typo-body-em) / var(--typo-body-line));

  /* Obsidian properties */
  --font-text-override: var(--typo-body-font);
  --font-text: var(--font-text-override),
              var(--font-text-theme),
              var(--font-interface);

  /** Compact font **/
  /* Selected values */
  --typo-compact-font:   var(--typo-body-font);
  --typo-compact-weight: var(--typo-body-weight);

  /* Measured values */
  /* Dimensioned as <px> */
  --typo-compact-em:    15px;
  --typo-compact-ex:     7px;
  --typo-compact-base:  -5px;
  --typo-compact-cap: 10.5px;

  --typo-compact-ascent:     12px;
  --typo-compact-ascender:   11px;
  --typo-compact-descent:     5px;
  --typo-compact-descender: 4.5px;

  /* Derived values */
  --typo-compact-mean:
    calc(var(--typo-compact-base) + var(--typo-compact-ex));
  --typo-compact-ascender-offset:
    calc(var(--typo-compact-ascender) - var(--typo-compact-ex));
  --typo-compact-asc-desc-ratio:
    calc(var(--typo-compact-ascender-offset)
      / var(--typo-compact-descender));
  --typo-compact-em-line-ratio:
    calc(var(--typo-compact-em) / var(--typo-compact-line));
}
