/* Typographic variables for different body fonts. */

body>div:not(.titlebar) {

  /** Body text **/
  --typo-body-font: Bitter, serif;
  --ch-correction: 0.82;

  --typo-body-weight: 410;
  --typo-body-em: 16px;
  --typo-body-line: 26px;
  --typo-body-ascent: 14px;
  --typo-body-ascender: 13px;
  --typo-body-descent: 10px;
  --typo-body-descender: 5px;
  --typo-body-ex: 9px;
  --typo-body-cap: 11px;
  /* The y-distance from the mid-em to the baseline: */
  --typo-body-base: -5px;
  /* As integer: */
  --int-body: 16;
  --int-ex: 9;
  --int-cap: 11;
  --int-base: -5;
  /* ...derived: */
  --typo-body-mean: calc(var(--typo-body-base) + var(--typo-body-ex));
  --typo-body-em-offset: calc(--typo-body-mean / 2);
  --typo-body-ascender-offset: calc(var(--typo-body-ascender) - var(--typo-body-ex));
  --typo-body-descender-offset: var(--typo-body-descender);
  --typo-body-asc-desc-ratio: calc(var(--typo-ascender-offset) / var(--typo-descender-offset));
  --typo-body-em-line-ratio: calc(var(--typo-body-em) / var(--typo-body-line));

  /** Compact text **/
  --typo-compact-font: var(--typo-body-font);
  --typo-compact-weight: 400;
  --typo-compact-em: 15px;
  --typo-compact-line: 26px;
  --typo-compact-ascent: 14px;
  --typo-compact-ascender: 13px;
  --typo-compact-descent: 10px;
  --typo-compact-descender: 5px;
  --typo-compact-ex: 9px;
  --typo-compact-cap: 11px;
  /* The y-distance from the mid-em to the baseline: */
  --typo-compact-base: -5px;
  /* ...derived: */
  --typo-compact-mean: calc(var(--typo-body-base) + var(--typo-body-ex));
  --typo-compact-em-offset: calc(--typo-compact-mean / 2);
  --typo-compact-ascender-offset: calc(var(--typo-compact-ascender) - var(--typo-compact-ex));
  --typo-compact-descender-offset: var(--typo-compact-descender);
  --typo-compact-asc-desc-ratio: calc(var(--typo-ascender-offset) / var(--typo-descender-offset));
  --typo-compact-em-line-ratio: calc(var(--typo-compact-em) / var(--typo-compact-line));
}

/* Other fixes */

.metadata-property-key-input[aria-label="Confidence" i] {
  --el-width: 9.25ch;
}

.metadata-property-key-input[aria-label="Fiction" i] {
  --el-width: 5.75ch;
}
